/* Add fade in to player icons
If player icon moves from box 1 to box 4 then make icon blink on boxes 2 and 3 too */

/* Add a checkbox on start page so that players can choose their names */
body{
    height: 100%;
    background-color: rgb(255, 94, 0);
    font-family: 'Games', sans-serif;
    font-size: large;                                        
}
button{
    background-color: goldenrod;
    text-decoration: solid;
    font-family: 'Games', sans-serif;
    font-size: large;
}
button:hover{
    background-color: lawngreen;
}
#skip{
    background-color: red;
    text-decoration: solid;
    font-family: 'Games', sans-serif;
    font-size: large;
}
#skip:hover{
    background-color: darkred;
}
.player_icon{
    display: flex;
    justify-content: space-around;
}
.player1_icon{
    text-align: center;
    display:none;
    border-radius: 50%;
    height:20px;
    width:20px;
    background-color: yellow;
}
.player2_icon{
    text-align: center;
    display:none;
    border-radius: 50%;
    height:20px;
    width:20px;
    background-color: blue;
}
.player3_icon{
    text-align: center;
    display:none;
    border-radius: 50%;
    height:20px;
    width:20px;
    background-color: red;
}
.player4_icon{
    text-align: center;
    display:none;
    border-radius: 50%;
    height:20px;
    width:20px;
    background-color: green;
}
#heading{
    font-family: 'Quantum Flat (BRK)', sans-serif;
    font-size:xx-large;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 100%;
    width: 100%;
}
.gameArea{
    display: flex;
    flex-direction: row;
    margin:0%;

}

#overlay{
    position: absolute;
    display:none;
    width:100%;
    height: 100%;
    background-color: aqua;
    opacity: 0.9;
}
#place_not_bought{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left:40%;
}
#buy_skip{
    display: flex;
    justify-content: space-around;
}
#place_bought{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left: 40%;
}
#comm_chest{
    position:absolute;
    width:40%;
    height:60%;
    align-self: center;
    left: 30%;
}
#dice_comm{
    display: flex;
    justify-content: center;
    align-items: center;
}
#chance{
    position:absolute;
    width:40%;
    height:60%;
    align-self: center;
    left: 30%;
}
#dice_chance{
    display: flex;
    justify-content: center;
    align-items: center;
}
#display_dice_value{
    position: absolute;
    width:20%;
    height:10%;
    align-self:center;
    left:40%;
}
#chance_comm_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#itax{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left: 40%;
}
#ok_itax{
    display: flex;
    justify-content: center;
    align-items: center;
}
#jail{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left: 40%;
}
#ok_jail{
    display: flex;
    justify-content: center;
    align-items: center;
}
#club{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left: 40%;
}
#ok_club{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rest{
    position:absolute;
    width:20%;
    height:60%;
    align-self: center;
    left: 40%;
}
#ok_rest{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_left{
    display: flex;
    flex-direction: column-reverse;
    background-color: orange;
    border: 1px solid black;
    width:9.09%;
}
.column_left>div{
    height: 50px;
    width:100%;
    border: 1px solid black;
    border-radius: 5%;
}

.middle{
    display: flex;
    flex-direction: column;
    background-color:orange;
    width:81.81%;
}
#UpperMiddleArea{
    height:50px;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
}
#UpperMiddleArea>div{
    width:11.11%;
    border:1px solid black;
    border-radius: 5%;
    height:100%;
}
#game_image{
    height:521px;
}
#LowerMiddleArea{
    height:50px;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: row-reverse;
}
#LowerMiddleArea>div{
    width:11.11%;
    border:1px solid black;
    border-radius: 5%;
    height:100%;
}

.column_right{
    display: flex;
    flex-direction: column;
    background-color: orange;
    border: 1px solid black;
    width:9.09%;
}
.column_right>div{
    height: 50px;
    width:100%;
    border: 1px solid black;
    border-radius: 5%;
    background-color: orange;
    
}
#GameFooter{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-around;
}
#Player_Money{
    display: flex;
    flex-direction: row;
    margin: 4px;
    width:85%;
}
#Player_Money>div{
    width:25%;
    border:1px solid black;

}
#dice_area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:15%;
    background-color: chocolate;
}
#dice_area>div{
    width:50%;
}
#dice{
    text-align: center;

}